@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

body {
  background: whitesmoke;
  font-family: Lobster Two;
}
.recipe-name {
  font-size: 30px;
  padding: 16px;
  margin: 0;
}
.recipe-pic {
  height: 220px;
  width: 420px;
  object-fit: cover;
}
.recipe-container {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  transition: 0.2s;
}
.recipe-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
.recipe-container:hover {
  transform: scale(1.1);
}
